.typing-effect .cursor {
    display: inline-block;
    width: 3px;
    background-color: white;
    animation: blink 0.1s step-end infinite; /* 깜빡이는 속도 조정 */
}

.track-title {
    white-space: pre-wrap;
}

@keyframes blink {
    from,
    to {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}
